.column {
    float: left;
    width: 100%;
    padding: 10px;
    height: 10%;
  }
  
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
-o-user-select: none;
user-select: none;
}
body{
    background: #e7e7e7;
    font-family: sans-serif;
}
.cource{
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0,0.2) ;
    display: flex;
    max-width: 100%;
    overflow: hidden;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    position: relative;
    /* margin: auto; */
    /* align-items: center; */
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%,-50%); */
}

.cource h6{
    opacity: 0.6;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.cource h2{
    letter-spacing: 1px;
    margin:  10px 0;

}
.form-group{
    padding-top: 10px;
    display: flex;
  }
 /* Firefox */
 input[type=number] {
    -moz-appearance: textfield;
    width: 35px;
  }
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
 

.preview{
    /* background: #e40046; */
    color: #fff;
    padding: 30px;
    width: 250px;
    /* padding-left:35%; */
    position: relative;
    /* left: auto; */
}

.preview a{
    color: #fff;
    font-size: 12px;
    opacity: 0.6;
    margin-top: 30px;
    text-decoration: none;
}

.info{
    padding: 30px;
    position: relative;
    width: 100%;
}
.info p{
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    opacity: 0.6;
}

.btnn{
    background: #e40046;
    border: 1px solid transparent;
    box-shadow: 0px 5px 10px rgba(0, 0, 0,0.6);
    color: #fff;
    font-size: 16px;
    padding: 10px 20px;
    position: absolute;
    bottom: 30px;
    right: 30px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    font-weight: bold;
    border-radius: 20px;
}
.it{
    padding: 10px 20px;
    position: absolute;
    top: 30px;
    right: 20px;
    letter-spacing: 1px;
}

.btnn:hover{
    background: #fff;
    color: #e40046;
    border: 1px solid #e40046;
    transform: scale(1.05);
}
.btnn:focus{
    outline: none;
}

@media(max-width:768px)
{
    .cource{
        flex-direction: column;
        width: 90%;
    }
    .preview
    {
        width: 100%;
        /* padding-left: 35%; */
        /* padding-right: 35%; */
        padding-top: 10px;
        padding-bottom: 0;
    }
    .preview h2{
        margin: 10px 0 0;
    }
    .preview a{
        margin-top: 10px;
    }
    .info h2{
        margin-top: 20px;
    }
    .info p{
        margin-bottom: 50px;
    }
    .btnn{
        padding: 10px 15px ;
        font-size: 14px;
    }
}


@media(max-width:320px)
{
    
    .preview
    {
        width: 100%;
        /* padding-left: 27%; */
        padding-top: 10px;
        padding-bottom: 0;
    }
   
   
    .info p{
        margin-bottom: 50px;
    }
    .btnn{
        padding: 10px 15px ;
        font-size: 14px;
        bottom: 37px;
    }
    #last{
        bottom: 20px;
    }
    
}


img.img-responsive { 
    margin-left: auto;
    margin-right: auto; 
    width: 125px;
    height: 125px;
    /* max-width: 150px; */
    /* max-height: 150px; */
  }


#itemprice{

    padding-top: 10px; 
    text-align: center; 
    color: rgb(68, 52, 52);
    font-weight: 300;
    letter-spacing: 1px;

}

#lastcol{
    margin-bottom: 50px;
    box-shadow: none;
}

